@{ 
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - Kidipoints Online</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/bundles/dropzonecss")*@

    <style>
        body {
            background-color: black;
            margin:20px;
        }
    </style>
</head>
<body>
    <div>        
        <canvas id="canvas-id" data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="Points"
                data-title="Behaviour"
                data-min-value="-50"
                data-max-value="50"
                data-value="35"
                data-major-ticks="[-50,-40,-30,-20,-10,0,10,20,30,40,50]"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[ {"from": -50, "to": 0, "color": "rgba(255,0, 0, .3)"},
        {"from": 0, "to": 50, "color": "rgba(0, 255, 0, .3)"} ]'
                data-ticks-angle="225"
                data-start-angle="67.5"
                data-color-major-ticks="#ddd"
                data-color-minor-ticks="#ddd"
                data-color-title="#eee"
                data-color-units="#ccc"
                data-color-numbers="#eee"
                data-color-plate="#222"
                data-border-shadow-width="0"
                data-borders="true"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-color-border-outer="#333"
                data-color-border-outer-end="#111"
                data-color-border-middle="#222"
                data-color-border-middle-end="#111"
                data-color-border-inner="#111"
                data-color-border-inner-end="#333"
                data-color-needle-shadow-down="#333"
                data-color-needle-circle-outer="#333"
                data-color-needle-circle-outer-end="#111"
                data-color-needle-circle-inner="#111"
                data-color-needle-circle-inner-end="#222"
                data-value-box-border-radius="0"
                data-color-value-box-rect="#222"
                data-color-value-box-rect-end="#333"></canvas>
    </div>


</body>
</html>
 @*@section scripts {*@
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @*<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>

            <script src="~/Scripts/Chart.js"></script>
            <script src="~/signalr/hubs"></script>*@
        <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.4/radial/gauge.min.js"></script>

        <script>
    var gauge = new RadialGauge({
        renderTo: 'canvas-id',
        width: 300,
        height: 300,
        units: "Points",
        title: "Behaviour",
        minValue: -250,
        maxValue: 250,
        value: 65,
        majorTicks: [
            -250,
            -200,
            -150,
            -100,
            -150,
            0,
            50,
            100,
            150,
            200,
            250
        ],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [
            {
                "from": -250,
                "to": 125,
                "color": "rgba(255,0, 0, .3)"
            },
            {
                "from": -125,
                "to": 0,
                "color": "rgba(255,153, 0, .3)"
            },
            {
                "from": 0,
                "to": 125,
                "color": "rgba(0, 175, 0, .3)"
            },
            {
                "from":125,
                "to": 250,
                "color": "rgba(0, 255, 0, .3)"
            },

        ],
        ticksAngle: 225,
        startAngle: 67.5,
        colorMajorTicks: "#ddd",
        colorMinorTicks: "#ddd",
        colorTitle: "#eee",
        colorUnits: "#ccc",
        colorNumbers: "#eee",
        colorPlate: "#222",
        borderShadowWidth: 0,
        borders: true,
        needleType: "arrow",
        needleWidth: 2,
        needleCircleSize: 7,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear",
        colorBorderOuter: "#333",
        colorBorderOuterEnd: "#111",
        colorBorderMiddle: "#222",
        colorBorderMiddleEnd: "#111",
        colorBorderInner: "#111",
        colorBorderInnerEnd: "#333",
        colorNeedleShadowDown: "#333",
        colorNeedleCircleOuter: "#333",
        colorNeedleCircleOuterEnd: "#111",
        colorNeedleCircleInner: "#111",
        colorNeedleCircleInnerEnd: "#222",
        valueBoxBorderRadius: 0,
        colorValueBoxRect: "#222",
        colorValueBoxRectEnd: "#333"
            }).draw();

gauge.value = @ViewBag.points;
    $(function () {
        //If not HTML5 Support the Exit


    });
        </script>


    @*}*@
